{% extends '_base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}

    <div class="card">
        <h5 class="card-header">Who am I ?</h5>
        <div class="card-body">
            <h6 class="card-title">I'm BaharRanjbar.</h6>
            <p class="card-text">I'm a junior <strong>Python</strong> developer and a junior <strong>Django</strong> developer.</p>
            <a href="{% url 'blogs:aboutme'%}" class="btn btn-primary">Get to know me more</a>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <h5>What can I do for you?</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">You can have your own website.</h6>
          <p class="card-text">I can help you to have your own website.</p>
          <a href="{% url 'blogs:aboutjob'%}" class="btn btn-primary">Get to know more</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>  

{% endblock content %}

